<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Management System</title>
    <link rel="icon" href="/../resources/static/img/icon.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Post Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/posts}">Post Management</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <h1>List Post</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{posts/new}" class="btn btn-primary btn-sm mb-3">Add Post</a>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Post Id</th>
                    <th>Post Comment</th>
                    <th>Image</th>
                    <th>Place</th>
                    <th>User Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post: ${listPosts}">
                    <td th:text="${post.post_id}">Place Id</td>
                    <td th:text="${post.comment}">Post Comment</td>
                    <td><img th:src="${'data:image/png;charset=utf-8;base64,' + post.byteToString(post.image)}" height="150px" width="150px" alt="img"></td>
                    <td th:text="${post.place}">Place</td>
                    <td th:text="${post.user}">Place</td>
                    <td>
                        <a th:href="@{/posts/edit/{id}(id=${post.post_id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/posts/{id}(id=${post.post_id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>