<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management System</title>
    <link rel="icon" href="/../resources/static/img/icon.png" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">User Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/users}">User Management</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
        <div class="row">
            <h1>List Users</h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{users/new}" class="btn btn-primary btn-sm mb-3">Add User</a>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>User Id</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.id}">User Id</td>
                    <td th:text="${user.userName}">User Name</td>
                    <td th:text="${user.email}">E-mail</td>
                    <td th:text="${user.password}">Password</td>
                    <td>
                        <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
                        <a th:href="@{/users/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>