<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error page</title>
    <link rel="icon" href="/../resources/static/img/icon.png" type="image/icon">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}" />
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
<!--<p th:text="${errorMessage}">Error java.lang.NullPointerException</p>-->
<a href="index.html" th:href="@{/index}">Back to Home Page</a>
</body>
</html>